<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanswon.estate.mapper.DealMapper">


    <select id="getDealInfoPage" resultType="com.lanswon.estate.bean.vo.page.DealPage">
        SELECT
        t.id,
        t.deal_serial,
        t.deal_type AS dealTypeCode,
        CASE t.deal_type
        WHEN 1 THEN '协商出租'
        WHEN 2 THEN '一事一议'
        WHEN 3 THEN '挂靠' END AS dealType,
        t.pay_type AS payTypeCode,
        CASE t.pay_type
        WHEN 1 THEN '一月一付'
        WHEN 3 THEN '一季度一付'
        WHEN 6 THEN '半年一付'
        WHEN 12 THEN '一年一付' END AS payType,
        group_concat(CONCAT(t3.name,t1.park,ifnull(t1.build_no,'/'),'栋',ifnull(t1.build_level,'/'),'层',ifnull(t1.build_room,''))
        SEPARATOR ',') AS location,
        t2.fk_own_id AS lessorId,
        t4.name AS lessor,
        t.fk_renter_id AS renterId,
        t5.name AS renter,
        t.rent_month,
        t.free_rent_month,
        t.is_new_rent AS isNewRentCode,
        CASE t.is_new_rent
        WHEN 1 THEN '新签'
        WHEN 2 THEN '续签' END AS isNewRent,
        t.is_have_discount AS isHaveDiscountCode,
        CASE t.is_have_discount
        WHEN 1 THEN '有优惠'
        WHEN 2 THEN '无优惠' END AS isHaveDiscount,
        t.deal_exist_status AS dealExistStatusCode,
        CASE t.deal_exist_status
        WHEN 1 THEN '进行中'
        WHEN 2 THEN '已删除'
        WHEN 3 THEN '正常终止'
        WHEN 4 THEN '提前结束' END AS dealExistStatus,
        t.deal_review_status AS dealReviewStatusCode,
        CASE t.deal_review_status
        WHEN 1 THEN '未审核'
        WHEN 2 THEN '通过审核'
        WHEN 3 THEN '未通过审核' END AS dealReviewStatus,
        t.start_time,
        t.end_time
        FROM deal t
        LEFT JOIN mid_deal_house t11 ON t11.fk_deal_id = t.id
        LEFT JOIN house_resource t1 ON t11.fk_house_resource_id = t1.id
        LEFT JOIN house_assets t2 ON t1.fk_house_assets_id = t2.id
        LEFT JOIN dic_agency t3 ON t2.fk_agency_id = t3.id
        LEFT JOIN dic_assets_co t4 ON t2.fk_own_id = t4.id
        LEFT JOIN renter t5 ON t.fk_renter_id = t5.id
        LEFT JOIN land_assets t6 ON t2.fk_land_assets_id = t6.id
        WHERE 1 = 1
        <if test="cd.aid != '' and cd.aid != null">
            AND t1.fk_agency_id = #{cd.aid}
        </if>

        <if test="cd.agencyId != '' and cd.agencyId != null">
            AND t1.fk_agency_id = #{cd.agencyId}
        </if>

        <if test="cd.dealName != '' and cd.dealName != null ">
            AND t.deal_name = #{cd.dealName}
        </if>

        <if test="cd.lessorId != 0">
            AND t3.id = #{cd.lessorId}
        </if>

        <if test="cd.renterId != 0">
            AND t5.id = #{cd.renterId}
        </if>

        <if test="cd.dealExistStatusCode != 0">
            AND t.deal_exist_status = #{cd.dealExistStatusCode}
        </if>

        <if test="cd.dealReviewStatusCode != 0">
            AND t.deal_review_status = #{cd.dealReviewStatusCode}
        </if>

        <if test="cd.dealTypeCode != 0">
            AND t.deal_type = #{cd.dealTypeCode}
        </if>

        <if test="cd.houseUsageId != 0">
            AND t2.fk_house_usage = #{cd.houseUsageId}
        </if>

        <if test="cd.agencyId != 0">
            AND t3.id = #{cd.agencyId}
        </if>


        <if test="cd.payTypeCode != 0">
            AND t.pay_type = #{cd.payTypeCode}
        </if>


        <if test="cd.startTime != null">
            AND to_days(date(t.start_time) ) &gt;= to_days(date(#{cd.startTime}))
        </if>
        <if test="cd.endTime != null">
            AND to_days(date(t.end_time )) &lt;= to_days(date(#{cd.endTime}))
        </if>


        <if test="cd.minResourceArea != 0">
            AND t1.resource_area &gt;= #{cd.minResourceArea}
        </if>
        <if test="cd.maxResourceArea != 0">
            AND t1.resource_area &lt;= #{cd.maxResourceArea}
        </if>


        <if test="cd.minRentMonth != 0">
            AND TIMESTAMPDIFF(MONTH,t.start_time,t.end_time) &gt;= #{cd.minRentMonth}
        </if>
        <if test="cd.maxRentMonth != 0">
            AND TIMESTAMPDIFF(MONTH,t.start_time,t.end_time) &lt;= #{cd.maxRentMonth}
        </if>


        <if test="cd.minOriginRentCharge != 0">
            AND t1.origin_rent_charge &gt;= #{cd.minOriginRentCharge}
        </if>
        <if test="cd.maxOriginRentCharge != 0">
            AND t1.origin_rent_charge &lt;= #{cd.maxOriginRentCharge}
        </if>


        <if test="cd.minGuideRentCharge != 0">
            AND t1.guide_rent_charge &gt;= #{cd.minGuideRentCharge}
        </if>
        <if test="cd.maxGuideRentCharge != 0">
            AND t1.guide_rent_charge &lt;= #{cd.maxGuideRentCharge}
        </if>

        GROUP BY t.id

        <if test="cd.asc == 0">
            ORDER BY t.created_time DESC
        </if>
        <if test="cd.asc == 1">
            ORDER BY t.created_time ASC
        </if>
    </select>

    <select id="getDetailDealInfo" resultType="com.lanswon.estate.bean.vo.DetailDealVO">
        SELECT t.deal_serial,
               t.deal_name,
               t3.name                                                                     AS lessor,
               t5.name                                                                     AS renter,
               t.fk_renter_id                                                              AS renterId,
               group_concat(t1.id SEPARATOR ',')                                           AS resourceId,
               group_concat(concat(t3.name, t1.park, t1.build_no, '号楼', t1.build_level, '层', t1.build_room) SEPARATOR
                            ',')                                                           AS location,
               sum(t1.resource_area)                                                       AS resourceArea,
               group_concat(t7.name SEPARATOR ',')                                         AS houseUsage,
               t3.name                                                                     AS agencyName,
               timestampdiff(MONTH, t.start_time, t.end_time)                              AS rentMonth,
               (timestampdiff(MONTH, t.start_time, t.end_time) * t1.real_rent_charge *
                t1.resource_area)                                                          AS monthRentCharge,
               CASE t.pay_type
                   WHEN 1 THEN '一月一付'
                   WHEN 3 THEN '一季度一付'
                   WHEN 6 THEN '半年一付'
                   WHEN 12
                       THEN '一年一付' END                                                     AS payType,
               t.pay_type                                                                  AS payTypeCode,
               t.free_rent_month,
               t.deal_type                                                                 AS dealTypeCode,
               CASE t.deal_type WHEN 1 THEN '协商出租' WHEN 2 THEN '一事一议' WHEN 3 THEN '挂靠' END AS dealType,
               t.is_new_rent                                                               AS rentTypeCode,
               CASE t.is_new_rent WHEN 1 THEN '新签' WHEN 2 THEN '续签' END                    AS rentType,
               t8.deposit                                                                  AS deposit,
               t1.origin_rent_charge,
               t1.guide_rent_charge,
               t.deal_exist_status                                                         AS dealExistStatusCode,
               CASE t.deal_exist_status
                   WHEN 1 THEN '正常'
                   WHEN 2 THEN '已到期'
                   WHEN 3 THEN '正常终止'
                   WHEN 4 THEN '提前结束' END                                                  AS dealExistStatus,
               t.deal_review_status                                                        AS dealReviewStatusCode,
               CASE t.deal_review_status
                   WHEN 1 THEN '未审核'
                   WHEN 2 THEN '审核通过'
                   WHEN 3
                       THEN '审核不通过' END                                                    AS dealReviewStatus,
               t.start_time,
               t.end_time
        FROM deal t
                 LEFT JOIN mid_deal_house t11 ON t11.fk_deal_id = t.id
                 LEFT JOIN house_resource t1 ON t11.fk_house_resource_id = t1.id
                 LEFT JOIN house_assets t2 ON t1.fk_house_assets_id = t2.id
                 LEFT JOIN dic_agency t3 ON t2.fk_agency_id = t3.id
                 LEFT JOIN dic_assets_co t4 ON t2.fk_own_id = t4.id
                 LEFT JOIN renter t5 ON t.fk_renter_id = t5.id
                 LEFT JOIN land_assets t6 ON t2.fk_land_assets_id = t6.id
                 LEFT JOIN dic_house_usage t7 ON t2.fk_house_usage = t7.id
                 LEFT JOIN money_deposit_must t8 ON t8.fk_deal_id = t.id
        WHERE t.id = #{id}
    </select>

    <select id="getNoReviewDealInfoPage" resultType="com.lanswon.estate.bean.vo.page.DealPage">
        SELECT
            t.id,
            t.deal_serial,
            t.deal_type AS dealTypeCode,
            CASE t.deal_type
                WHEN 1 THEN '协商出租'
                WHEN 2 THEN '一事一议'
                WHEN 3 THEN '挂靠' END AS dealType,
            t.pay_type AS payTypeCode,
            CASE t.pay_type
                WHEN 1 THEN '一月一付'
                WHEN 3 THEN '一季度一付'
                WHEN 6 THEN '半年一付'
                WHEN 12 THEN '一年一付' END AS payType,
            group_concat(CONCAT(t3.name,t1.park,ifnull(t1.build_no,'/'),'栋',ifnull(t1.build_level,'/'),'层',ifnull(t1.build_room,''))
                         SEPARATOR ',') AS location,
            t2.fk_own_id AS lessorId,
            t4.name AS lessor,
            t.fk_renter_id AS renterId,
            t5.name AS renter,
            t.rent_month,
            t.free_rent_month,
            t.is_new_rent AS isNewRentCode,
            CASE t.is_new_rent
                WHEN 1 THEN '新签'
                WHEN 2 THEN '续签' END AS isNewRent,
            t.is_have_discount AS isHaveDiscountCode,
            CASE t.is_have_discount
                WHEN 1 THEN '有优惠'
                WHEN 2 THEN '无优惠' END AS isHaveDiscount,
            t.deal_exist_status AS dealExistStatusCode,
            CASE t.deal_exist_status
                WHEN 1 THEN '进行中'
                WHEN 2 THEN '已删除'
                WHEN 3 THEN '正常终止'
                WHEN 4 THEN '提前结束' END AS dealExistStatus,
            t.deal_review_status AS dealReviewStatusCode,
            CASE t.deal_review_status
                WHEN 1 THEN '未审核'
                WHEN 2 THEN '通过审核'
                WHEN 3 THEN '未通过审核' END AS dealReviewStatus,
            t.start_time,
            t.end_time
        FROM deal t
                 LEFT JOIN mid_deal_house t11 ON t11.fk_deal_id = t.id
                 LEFT JOIN house_resource t1 ON t11.fk_house_resource_id = t1.id
                 LEFT JOIN house_assets t2 ON t1.fk_house_assets_id = t2.id
                 LEFT JOIN dic_agency t3 ON t2.fk_agency_id = t3.id
                 LEFT JOIN dic_assets_co t4 ON t2.fk_own_id = t4.id
                 LEFT JOIN renter t5 ON t.fk_renter_id = t5.id
                 LEFT JOIN land_assets t6 ON t2.fk_land_assets_id = t6.id
        WHERE 1 = 1
          AND t.deal_review_status = 1
        GROUP BY t.id
    </select>

    <select id="getSimpleWarnDeal" resultType="com.lanswon.estate.bean.vo.SimpleWarnDealVO">
        SELECT * FROM (
        SELECT t.id,
        t.deal_name,
        t.deal_serial,
        group_concat(concat(t3.name, t1.park, t1.build_no, '号楼', t1.build_level, '层', t1.build_room) SEPARATOR
        ',') AS resourceName,
        t.fk_renter_id AS renterId,
        group_concat(t1.id SEPARATOR ',') AS resourceId,
        t3.name AS lessor,
        t5.name AS renter,
        concat(t6.assets_location, t1.build_no, t1.build_level, t1.build_room) AS location,
        timestampdiff(DAY ,now(),t.end_time) AS lastDay,
        t.start_time,
        t.end_time
        FROM deal t
        LEFT JOIN mid_deal_house t11 ON t11.fk_deal_id = t.id
        LEFT JOIN house_resource t1 ON t11.fk_house_resource_id = t1.id
        LEFT JOIN house_assets t2 ON t1.fk_house_assets_id = t2.id
        LEFT JOIN dic_agency t3 ON t2.fk_agency_id = t3.id
        LEFT JOIN dic_assets_co t4 ON t2.fk_own_id = t4.id
        LEFT JOIN renter t5 ON t.fk_renter_id = t5.id
        LEFT JOIN land_assets t6 ON t2.fk_land_assets_id = t6.id
        WHERE date_add(now(), INTERVAL #{day} DAY) &gt;= t.end_time
        GROUP BY t.id
        <if test="asc == 0">
            ORDER BY t.created_time DESC
        </if>

        <if test="asc == 1">
            ORDER BY t.created_time ASC
        </if>
        ) a
        where a.id IS NOT NULL


    </select>
    <select id="getMustMoneyByDealId" resultType="com.lanswon.estate.bean.vo.MustMoneyVO">
        SELECT *
        FROM (
                 SELECT t.id                                                    AS i,
                        t.fk_deal_id                                            AS id,
                        concat(date_format(t1.start_time, '%Y年%m月%d日'), '-保证金') AS mustReason,
                        date_format(t1.start_time, '%Y年%m月%d日')                 AS mustDate,
                        t.deposit                                               AS money,
                     CASE t1.deal_review_status WHEN 2 THEN '正常' ELSE '未启用' END AS payStatus,
                        concat('保证金')                                           AS moneyType
                 FROM money_deposit_must t
                          LEFT JOIN deal t1
                                    ON t.fk_deal_id = t1.id
                 UNION ALL
                 SELECT t.id                                                 AS i,
                        t.fk_deal_id                                         AS id,
                        concat(date_format(t.rent_date, '%Y年%m月%d日'), '-租金') AS mustReason,
                        date_format(t.rent_date, '%Y年%m月%d日')                AS mustDate,
                        t.must_charge                                        AS money,
                        CASE t.is_enable WHEN 2 THEN '正常' ELSE '未启用' END AS payStatus,
                        concat('租金')                                         AS moneyType
                 FROM money_rent_must t
                          LEFT JOIN deal t1
                                    ON t.fk_deal_id = t1.id
                 UNION ALL
                 SELECT t.id                                        AS i,
                        t.fk_deal_id                                AS id,
                        concat(date_format(now(), '%Y年'), '前-往年欠款') AS mustReason,
                        date_format(now(), '%Y年')                   AS mustDate,
                        t.arrears                                   AS money,
                        CASE t1.deal_review_status WHEN 2 THEN '正常' ELSE '未启用' END AS payStatus,
                        concat('往年欠款')                              AS moneyType
                 FROM money_arrears_must t
                          LEFT JOIN deal t1
                                    ON t.fk_deal_id = t1.id) a
        WHERE a.id = #{id}
        ORDER BY a.i ASC;
    </select>


    <select id="getTransFlowByDealId" resultType="com.lanswon.estate.bean.vo.TransFlowVO">
        SELECT *
        FROM (SELECT t.cert_no                                               AS certNo,
                     concat(date_format(t2.start_time, '%Y年%m月%d日'), '-保证金') AS transReason,
                     date_format(t.money_date, '%Y年%m月%d日')                  AS moneyDate,
                     t.money                                                 AS money,
                     concat('保证金')                                           AS moneyType,
                     t.remark
              FROM money_real_flow t
                       LEFT JOIN money_deposit_must t1 ON t.fk_must_money_id = t1.id
                       LEFT JOIN deal t2 ON t1.fk_deal_id = t2.id
              WHERE t2.id = #{id}
              UNION ALL

              SELECT t.cert_no                                             AS certNo,
                     concat(date_format(t1.rent_date, '%Y年%m月%d日'), '-租金') AS transReason,
                     date_format(t.money_date, '%Y年%m月%d日')                AS moneyDate,
                     t.money                                               AS money,
                     concat('租金')                                          AS moneyType,
                     t.remark
              FROM money_real_flow t
                       LEFT JOIN money_rent_must t1 ON t.fk_must_money_id = t1.id
                       LEFT JOIN deal t2 ON t1.fk_deal_id = t2.id
              WHERE t2.id = #{id}
              UNION ALL

              SELECT t.cert_no                                   AS certNo,
                     concat(date_format(now(), '%Y年'), '-前往年欠款') AS transReason,
                     date_format(t.money_date, '%Y年%m月%d日')      AS moneyDate,
                     t.money                                     AS money,
                     concat('往年欠款')                              AS moneyType,
                     t.remark
              FROM money_real_flow t
                       LEFT JOIN money_arrears_must t1 ON t.fk_must_money_id = t1.id
                       LEFT JOIN deal t2 ON t1.fk_deal_id = t2.id
              WHERE t2.id = #{id}
             ) a
    </select>


    <select id="getMonthRentByDealId" resultType="java.lang.Double">
        SELECT t.real_money * t1.resource_area
        FROM mid_deal_house t
          LEFT JOIN estate.house_resource t1 ON t.fk_house_resource_id = t1.id
        WHERE t.fk_deal_id = #{id}
    </select>

    <select id="getHouseResourceIdByDealId" resultType="java.lang.Long">
        SELECT t1.fk_house_resource_id
        FROM deal t
            LEFT JOIN mid_deal_house t1 ON t1.fk_deal_id = t.id
        WHERE t.id = #{id}
    </select>


</mapper>
    