<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanswon.estate.mapper.LandAssetsMapper">

    <select id="getLandAssetsPageList" resultType="com.lanswon.estate.bean.vo.LandAssetsVO">
        SELECT
        t.id,
        t.fk_own_id ,
        t.land_no,
        t1.name AS owner,
        t.fk_agency_id,
        t4.name AS agencyName,
        t.assets_location,
        t.land_num,
        t.pic_num,
        t.fk_land_usage_id ,
        t2.name AS landUsage,
        t.money,
        t.fk_land_nature_id,
        t3.name AS landNature,
        t.end_time,
        t.assets_area,
        t.self_area,
        t.share_area,
        t.yz_area,
        t.wz_area,
        t.remark
        FROM land_assets t
        LEFT JOIN dic_assets_co t1 ON t.fk_own_id = t1.id
        LEFT JOIN dic_land_usage t2 ON t.fk_land_usage_id = t2.id
        LEFT JOIN dic_land_nature t3 ON t.fk_land_nature_id = t3.id
        LEFT JOIN dic_agency t4 ON t.fk_agency_id = t4.id
        WHERE 1=1
        <if test="cd.ownId != 0 ">
            AND t.fk_own_id = #{cd.ownId}
        </if>

        <if test="cd.landNo != null and cd.landNo != ''">
            AND t.land_no = #{cd.landNo}
        </if>

        <if test="cd.location != ''">
            AND t.assets_location = #{cd.location}
        </if>

        <if test="asc == 0">
            ORDER BY t.created_time DESC
        </if>
        <if test="asc == 1">
            ORDER BY t.created_time ASC
        </if>

    </select>
</mapper>
    