<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanswon.estate.mapper.MoneyDepositReturnMapper">


    <select id="getDepositReturnsByDealId" resultType="com.lanswon.estate.bean.vo.DepositReturnVO">
        SELECT  t.fk_deal_id,
                t.money,
                t.return_date
        FROM money_deposit_return t WHERE t.fk_deal_id = #{id}
    </select>
</mapper>
    